replicaCount: 3

image:
  repository: skullpion91/tictactoe
  tag: latest

service:
  type: ClusterIP
  port: 80

# values.yaml
annotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "3000"
  prometheus.io/path: "/metrics"
